# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/n99fc05/lockhartlovesyou.com/selfie_booth/api"
PassengerBaseURI "/selfie_booth/api"
PassengerPython "/home/n99fc05/virtualenv/lockhartlovesyou.com/selfie_booth/api/3.9/bin/python"
PassengerAppLogFile "/home/n99fc05/logs/bigtest3.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
